
<p>
  <strong>Name:</strong>
  <%= @student.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @student.title %>
</p>

<p>
  <strong>How Many Fortnite Wins do u have</strong>
  <%= @student.title %>
</p>